a:active,a:focus {
outline: none;
}
.display-none{
    display: none
}

.logo-container .logo{
    overflow: hidden;
    border-radius: 10%;
    width: 100px;
    height: 100px;
    float: left;
    margin-top: -25px;
}

.logo-container .brand{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    height: 40px;
    text-align: left;
    margin-left: -35px;
}
.logo-container .brand-material{
    font-size: 18px;
    margin-top: 15px;
    height: 25px;
    width: auto;
}
.logo-container .logo img{
    height: 60px;
}

.modal-header {
    padding: 15px;
    border-bottom: 0px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 0px;
}

.container-radio{
    position: relative;
    top: -40px;
}

.container-radio ul{
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.container-radio ul li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 50px;
}

.container-radio ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.container-radio ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px 25px 50px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.container-radio ul li:hover label{
	color: #00bcd4;
}

.container-radio ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 28px;
  width: 28px;
  top: 30px;
  left: 10px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.container-radio ul li:hover .check {
  border: 5px solid #00bcd4;
}

.container-radio ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 12px;
  width: 12px;
  top: 3px;
	left: 3px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #f44336;
}

input[type=radio]:checked ~ .check::before{
  background: #f44336;
}

input[type=radio]:checked ~ label{
  color: #f44336;
}